/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
/* :root{
    --bg-color: #4b4b4b;
    --text-color: #000000;
    --main-color: #ffffff;
    --background-color: #f9f9fa; 
} */
/*header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: #c3c2ff;
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color:  #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000000cd;
}
.navbar{
    display: flex;
}
.navbar a{
    color: #ffffff;
    font-size: 0.95rem;
    font-weight: 1000;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
    text-shadow: 1px 1px 2px #000000cd;
}
.navbar a:hover{
    color: #ffffff;
}
.navbar a.active{
    color: #ffffff;
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: #ffffff;
    font-size: 0.95rem;
    font-weight: 1000;
    transition: all .50s ease;
    text-shadow: 1px 1px 2px #000000cd;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: #c3c2ff;
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    color: #c3c2ff;
}
#menu-icon{
    font-size: 35px;
    color:  linear-gradient(135deg, #0d00ff, #000000);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media(max-width: 1280px){
    header{
        padding:14px  23;
        transition: 0.2s;
    }
    .header a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media(max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .header{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: flex;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    a.active{
        color: var(--text-color);
    }
    .open{
        right: 2%;
    }
}
 */

 *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
 }
 :root{
    --bg-color: #101d80;
    --text-color: #ffffff;
    --main-color: #101d80;
 }
 #overlay{
     position: absolute;
     top: 0;
     left: 0;
     height: 120px;
     width: 100%;
     opacity: 25%;
     /* -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg); */
     /* transform: rotate(90deg); */
 }
 header{
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #11115b42;
    padding: 12px 12%;
    transition: all .50s ease;
 }
 .logo{
     display: flex;
     align-items: center;
 }
 .logo img {
     display: block;
     width: 40px; /* here put your width */
     height: 40px; /* here put your height */
     margin-right: 7px;
     border-radius: 50%;
 }
 .logo i{
     color: #ffffff;
     font-size: 28px;
     margin-right: 3px;
 }
 .logo span{
     color: var(--text-color);
     font-size: 1.4rem;
     /* text-shadow: 1px 1px 2px #ffffff; */
     font-weight: 700;
 }
 .navbar{
     display: flex;
 }
 .navbar a{
     color: var(--text-color);
     font-size: 1.1rem;
     padding: 5px 0;
     margin: 0px 30px;
     transition: all .50s ease;
     /* text-shadow: 1px 1px 2px #ffffff; */
     font-weight: 700;
 }
 .navbar a:hover{
     color: var(--main-color);
     text-shadow: 0px 0px 0px #ffffff;
 }
 .navbar a.active{
     color: var(--main-color);
 }
 .main{
     display: flex;
     align-items: center;
 }
 .main a{
     margin-right: 25px;
     margin-left: 10px;
     color: var(--text-color);
     font-size: 1.1rem;
     font-weight: 500;
     transition: all .50s ease;
     /* text-shadow: 1px 1px 2px #ffffff; */
     font-weight: 700;
 }
 .user{
     display: flex;
     align-items: center;
 }
 /* .user i{
     color: var(--main-color);
     font-size: 28px;
     margin-right: 7px;
 } */
 #user-btn{
     font-size: 28px;
     margin-right: 14px;
     margin-top: 3px;
     color: #ffffff;
 }
 .main a:hover{
     color: var(--main-color);
     text-shadow: 0px 0px 0px #ffffff;
 }
 #menu-icon{
     font-size: 35px;
     color: var(--text-color);
     cursor: pointer;
     z-index: 10001;
     display: none;
 }
 @media(max-width: 1280px){
     header{
         padding:14px  23;
         transition: 0.2s;
     }
     .navbar a{
         padding: 5px 0;
         margin: 0px 20px;
     }
 }
 @media(max-width: 1090px){
     #menu-icon{
         display: block;
     }
     .navbar{
         position: absolute;
         top: 100%;
         right: -100%;
         width: 270px;
         height: flex;
         background: var(--main-color);
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         border-radius: 10px;
         transition: all .50s ease;
     }
     .navbar a{
         display: block;
         margin: 12px 0;
         padding: 0px 25px;
         transition: all .50s ease;
     }
     .navbar a:hover{
         color: var(--text-color);
         transform: translateY(5px);
     }
     .navbar a.active{
         color: var(--text-color);
     }
     .navbar.open{
         right: 2%;
     }
     .logo span{
         color: var(--text-color);
         font-size: 1rem;
         /* text-shadow: 1px 1px 2px #ffffff; */
         font-weight: 700;
     }
     .main a{
         margin-right: 25px;
         margin-left: 10px;
         color: var(--text-color);
         font-size: 0.8rem;
         font-weight: 500;
         transition: all .50s ease;
         /* text-shadow: 1px 1px 2px #ffffff; */
         font-weight: 700;
     }
 }
 