.form-container form{
    width: fit-content;
    background: #fff;
}

.form-container .ruleslist{
    margin: 5px;
    width: 100%;
}
.form-container .ruleslist .rulesitem {
    min-height: 40px;
    border-radius: 5px;
    width: 100%;
    background: #ececec;;
    height: fit-content;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 5px 0; 
}
.butonbox{
    border-radius: 5px;
    color: #fff;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    height: max-content;
    display: flex;
    flex-direction: row;
    width: 10%;
}
.deletee, .edite{
    margin: .2rem 0;
    padding: .3rem;
    border: 1px solid #ececec;
    color: linear-gradient(135deg, #000000, #0d00ff);
    width: 50%;
}
.rule{
    width: 90%;
    align-self: auto;
    margin: 5px;
}
.deletee:hover, .edite:hover{
    margin: .2rem 0;
    padding: .3rem;
    font-weight: 600;
    color: linear-gradient(135deg, #000000, #0d00ff);
}