@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
.form-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: linear-gradient(135deg, #c5d6ff, #004cff);
}
.form-container form{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background-color: #ffffff95;
    text-align: left;
}
.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
    align-self: center;
}
.form-container form h4{
    align-self: start;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}
.form-container form h5{
    align-self: start;
    width:100%;
    font-size: 17px;
    color: #000000;
    border-radius: 5px;
    font-weight: 800;
}
.form-container form input{
    width:95%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eeeeeed7;
    border-radius: 5px;
}
.form-container form textarea{
    width:95%; 
    padding: 10px 15px; 
    font-size: 17px; 
    margin: 8px 0; 
    background: #eeeeeed7; 
    border-radius: 5px;
}
.form-container form label{
    width: 100%;
    color: #000000;
    font-weight: 500;
    font-size: 15px;
}
.form-container form .form-btn{
    background: linear-gradient(135deg, #0d00ff, #000000);
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    transition: all .50s ease;
}
.form-container form .form-btn:hover{
    background: linear-gradient(-135deg, #0900ab, #93b0ff);
    color:  #ffffff;
}
.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}
.form-container form p a{
    color: linear-gradient(135deg, #0d00ff, #000000);;
}
.form-container form .error-msg{
    margin: 10px 0;
    display: block;
    background: linear-gradient(135deg, #0d00ff, #000000);;
    color: #eee;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}
/* ----------------validation box------------------- */
#validation_box{
    display: none;
    background-color: transparent;
    color: #000000;
    position: relative;
    padding-left: 5%;
    margin-top: 4px;
    text-align: left;
}
h4{
    font-size: 15px;
    margin: 20px 0px;
}

#validation_box p{
    font-size: 14px;
}

#show-password{
    position: relative;
    top: 50%;
}

#show-password2{
    position: relative;
    top: 59%;
}